:root {
    --user-message-bg: #007bff; /* Blue color for user messages */
    --bot-message-bg: #f8f9fa; /* Light gray for bot messages */
    --user-message-text: white;
    --bot-message-text: black;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e5e5e5;
}

.container-chat {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-width: 600px; /* Width of the chat box */
    margin: auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chat-box {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.message {
    max-width: 80%;
    padding: 10px;
    margin: 5px;
    border-radius: 20px;
}

.user-message {
    align-self: flex-end;
    background-color: var(--user-message-bg);
    color: var(--user-message-text);
}

.bot-message {
    align-self: flex-start;
    background-color: var(--bot-message-bg);
    color: var(--bot-message-text);
}

.chat-text {
    padding: 10px;
    background: #f7f7f7;
    display: flex;
}

.chat-text input {
    flex-grow: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.chat-text button {
    padding: 10px 20px;
    background-color: var(--user-message-bg);
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}

.chat-text button:hover {
    background-color: darken(var(--user-message-bg), 10%);
}
